.card {
  max-width: 282px;
  /*max-height: 361px;*/
  background: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
}

.card__image-and-delete {
  display: flex;
  width: 282px;
  height: 282px;
  position: relative;
}

.card__image {
  border-radius: 10px 10px 0px 0px;
  max-width: 100%;
  max-height: 100%;
  flex-grow: 1;
  cursor: pointer;
}

.card__delete {
  background: url("../images/delete.svg");
  width: 20px;
  height: 20px;
  border: none;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 250px;
}

.card__delete:hover {
  opacity: 0.6;
}

.card__label {
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 25px 15px 25px 21px;
  margin: 0;
  border-radius: 0px 0px 10px 10px;
  align-items: center;
}

.card__label-text {
  max-width: 246px;
  line-height: 29px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  margin: 0;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__heart {
  background: url("../images/heart.svg");
  width: 21px;
  height: 18px;
  border: none;
  background-repeat: no-repeat;
  cursor: pointer;
}

.card__heart:hover {
  opacity: 0.5;
}

/*
.card__heart-like {
  background: url("../images/like.svg");
  width: 21px;
  height: 18px;
  border: none;
  background-repeat: no-repeat;
  cursor: pointer;
}
*/
.card__heart_like {
  background: url("../images/like.svg");
  background-repeat: no-repeat;
}

.card__heart-like:hover {
  opacity: 0.5;
}
