.content {
  display: flex;
  flex-wrap: wrap;
  column-gap: 17px;
  row-gap: 20px;
  justify-content: center;
  max-width: 880px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .content {
    max-width: 581px;
    justify-content: space-between;
    margin: auto;
  }
}

@media screen and (max-width: 700px) {
  .content {
    max-width: 282px;
  }
}
