.footer {
  max-width: 880px;
  width: 100%;
}

.footer__text {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 67px 0 60px 0;
}

/*
@media screen and (max-width: 1024px) {
  .footer__text {
    margin: 67px auto 60px auto;
    max-width: 581px;
  }
}

*/
@media screen and (max-width: 620px) {
  .footer__text {
    font-size: 14px;
    line-height: 17px;
    margin: 48px auto 36px auto;
    max-width: 282px;
  }
}
