.header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header__image {
  width: 173px;
  height: 33px;
  padding-top: 45px;
  padding-bottom: 41px;
}

.header__line {
  border-top: 1px solid #545454;
  flex-grow: 1;
  width: 100%;
}
