.header {
  display: flex;
  flex-direction: column;
}

.header__image {
  width: 173px;
  height: 33px;
  padding-top: 45px;
  padding-bottom: 41px;
  margin-right: auto;
}

/*Why did I use margin-left, right, instead of padding?
If I am using padding, the line is disappearing if width is < 400px*/
.header__line {
  border-top: 1px solid #545454;
  flex-grow: 1;
  max-width: 880px;
  line-height: 0px;
  padding: 0;
  margin: 0;
}
