.page {
  max-width: 880px;
  height: 100vh;
  width: calc(100% - 40px);
  display: flex;
  margin: auto;
  box-sizing: border-box;
  padding: 0 0px 0 0px;
  flex-direction: column;
}

@media screen and (max-width: 620px) {
  .page {
    width: 100%;
  }
}
