.profile {
  display: flex;
  width: 100%;
  padding: 40px 0 50px 0;
  margin: 0;
  justify-content: space-between;
}

.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.profile__avatar {
  margin: 0 0 0 0;
}

.profile__name-pen {
  display: flex;
  /*gap: 18px;*/
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}

.profile__name {
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__pen {
  padding: 7px;
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}

.profile__pen:hover {
  opacity: 0.6;
}
.profile__name-tag {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 0px;
}

.profile__avatar-info {
  display: flex;
  width: 64%;
  justify-content: space-between;
}

.profile__add-button {
  height: 50px;
  width: 150px;
  padding: 14px 64px 14px 64px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  margin-bottom: 12px;
  box-sizing: border-box;
  align-self: center;
  justify-content: space-around;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1024px) {
  .profile__add-button {
    height: 50px;
    width: 150px;
    padding: 14px 64px 14px 64px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 735px) {
  .profile {
    max-width: 320px;
    display: flex;
    align-content: center;
    flex-direction: column;
    margin: auto;
  }

  .profile__info {
    gap: 14px;
  }

  .profile__avatar {
    margin: 0 auto 30px auto;
  }

  .profile__name {
    color: white;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .profile__pen {
    padding: 5.25px;
    border: 1px solid #ffffff;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
  }

  .profile__add-button {
    height: 50px;
    width: 282px;
    padding: 14px 64px 14px 64px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    margin: 36px auto 0 auto;
    box-sizing: border-box;
  }

  .profile__name-pen {
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .profile__name-tag {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    margin: auto;
  }

  .profile__avatar-info {
    flex-direction: column;
    margin: auto;
    width: 100%;
    justify-content: space-between;
  }
}
