.profile {
  display: flex;
  width: 100%;
  padding: 40px 0 50px 0;
  margin: 0;
  justify-content: space-between;
}

.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  padding-left: 8px;
  box-sizing: border-box;
}

.profile__avatar {
  margin: 0;
}

.profile__name-pen {
  display: flex;
  gap: 18px;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}

.profile__name {
  color: white;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  max-width: 373px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__pen {
  background: url("../images/pen.svg");
  width: 24px;
  height: 24px;
  background-size: 10px 10px;
  border: 1px solid #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  box-sizing: border-box;
  flex-shrink: 0;
  cursor: pointer;
}

.profile__pen:hover {
  opacity: 0.6;
}
.profile__name-tag {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 0px;
}

.profile__avatar-info {
  display: flex;
  width: 64%;
  justify-content: space-between;
}

.profile__add-button {
  background: url("../images/plus.svg");
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  background-size: 22px 22px;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

/*Adjust the profile__info block, so that the profile
elements do not overlap*/
@media screen and (max-width: 740px) {
  .profile__info {
    max-width: 70%;
  }

  .profile__name-pen {
    align-items: center;
  }

  .profile__name {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
  }

  .profile__avatar-info {
    justify-content: center;
  }
}

@media screen and (max-width: 620px) {
  .profile {
    display: flex;
    align-content: center;
    flex-direction: column;
    margin: auto;
    padding: 42px 0 36px 0;
  }

  .profile__avatar {
    margin: 0 auto 30px auto;
  }

  .profile__pen {
    width: 18px;
    height: 18px;
    background-size: 7px 7px;
  }

  .profile__add-button {
    width: 282px;
    height: 50px;
    margin: 36px auto 0 auto;
    background-size: 16px 16px;
  }

  .profile__name-pen {
    gap: 10px;
    justify-content: center;
    width: 100%;
  }

  .profile__name-tag {
    font-size: 14px;
    line-height: 17px;
    margin: auto;
  }

  .profile__avatar-info {
    flex-direction: column;
    margin: auto;
    width: 100%;
    justify-content: space-between;
  }

  .profile__info {
    max-width: 100%;
    padding: 0;
  }
}
